<div th:fragment="authorization">
    <div class="form-group">
        <label for="login" th:text="#{form.label.login}"></label>
        <input id="login" name="login" class="form-control"
               type="text" th:placeholder="#{form.placeholder.login}" maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="password" th:text="#{form.label.password}"></label>
        <input id="password" name="password" class="form-control"
               type="password" th:placeholder="#{form.placeholder.password}" maxlength="50" required>
    </div>
</div>

<div th:fragment="registration">
    <div class="form-group">
        <label for="name" th:text="#{form.label.name}"></label>
        <input id="name" name="name" class="form-control"
               type="text" th:placeholder="#{form.placeholder.name}" maxlength="20" required>
    </div>
    <div class="form-group">
        <label for="surname" th:text="#{form.label.surname}"></label>
        <input id="surname" name="surname" class="form-control"
               type="text" th:placeholder="#{form.placeholder.surname}" maxlength="20" required>
    </div>
    <div class="form-group">
        <label for="group" th:text="#{form.label.group}"></label>
        <select id="group" th:name="group" class="form-control">
            <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
    </div>
</div>

<div th:fragment="selectSubject">
    <form action="getTests" method="get">
        <label for="subject" th:text="#{form.label.selectSubject}"></label>
        <select id="subject" th:name="subject" class="form-control">
            <option th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
        </select>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.continue}"></button>
    </form>
</div>

<div th:fragment="selectTest">
    <label for="test" th:text="#{form.label.selectTest}"></label>
    <select id="test" th:name="id" class="form-control">
        <option th:each="test: ${tests}" th:value="${test.id}" th:text="${test.name}"></option>
    </select>
</div>

<div th:fragment="testInfo">
    <input hidden th:name="test" th:value="${test.id}">
    <p th:text="#{form.text.testName}+':'+${test.name}"></p>
    <p th:text="#{form.text.questionsAmount}+':'+${amount}"></p>
    <p th:text="#{form.text.allottedTime}+':'+${test.allottedTime}"></p>
</div>

<div th:fragment="passTest" class="container-fluid">
    <form id="passTest" action="passTest" method="post" th:object="${passingTest}">
        <input hidden name="test.id" th:value="${test.id}">
        <h1 th:text="${test.name}"></h1>

        <th:block th:if="${setTime}">
            <input hidden id="initTime" th:value="${test.allottedTime}">
            <div class="timer row justify-content-center border rounded-pill">
                <h3 id="time"></h3>
            </div>
        </th:block>

        <div th:each="question,questStat :${test.questions}" th:with="quest=${questStat.index}">
            <div th:id="'question#'+@{${quest}}" class="question">
                <input hidden th:name="test.questions[__${quest}__].id" th:value="${question.id}">
                <h4 th:text="${question.name}"></h4>

                <!-- if question has many right answers show checkbox -->
                <th:block th:if="${question.manyRightAnswers}">
                    <div th:each="answer,ansStat: ${question.answers}" th:with="ans=${ansStat.index}">
                        <input hidden th:name="test.questions[__${quest}__].answers[__${ans}__].id"
                               th:value="${answer.id}">
                        <input th:id="'answer#'+${answer.id}"
                               th:name="test.questions[__${quest}__].answers[__${ans}__].checked"
                               class="form-check-input" type="checkbox">
                        <label th:for="'answer#'+${answer.id}" class="form-check-label"
                               th:text="${answer.name}"></label>
                    </div>
                </th:block>

                <!-- if question has only one right answer -->
                <th:block th:unless="${question.manyRightAnswers}">
                    <div th:each="answer,ansStat: ${question.answers}" th:with="ans=${ansStat.index}">
                        <input hidden th:name="test.questions[__${quest}__].answers[__${ans}__].id"
                               th:value="${answer.id}">
                        <input th:id="'answer#'+${answer.id}"
                               th:name="test.questions[__${quest}__].answers[__${ans}__].checked"
                               class="form-check-input" type="radio">
                        <label th:for="'answer#'+${answer.id}" class="form-check-label"
                               th:text="${answer.name}"></label>
                    </div>
                </th:block>
            </div>
        </div>
        <button class="btn btn-success" type="submit" th:text="#{form.button.send}"></button>
    </form>
</div>

<div th:fragment="createTest" class="container-fluid">
    <form action="createTest" method="post">

        <label for="testName" th:text="#{form.label.testName}"></label>
        <input id="testName" class="form-control" name="name" type="text" maxlength="70" required>

        <label for="testDescription" th:text="#{form.label.testDescription}"></label>
        <textarea id="testDescription" class="form-control" name="description" type="text"
                  maxlength="255"></textarea>

        <label for="subjects" th:text="#{form.label.selectSubject}"></label>
        <select id="subjects" class="form-control" name="subject">
            <option th:each="subject: ${subjects}"
                    th:value="${subject.id}" th:text="${subject.name}"></option>
        </select>

        <label for="testTime" th:text="#{form.text.allottedTime}"></label>
        <input id="testTime" class="form-control col-1" name="allottedTime" type="number" min="0" max="255" required>

        <button class="createQuestion btn btn-success" type="button" th:text="#{form.button.createQuestion}"></button>
        <input hidden id="form.button.addAnswer" th:value="#{form.button.addAnswer}">
        <input hidden id="form.placeholder.question" th:value="#{form.placeholder.question}">
        <input hidden id="form.placeholder.answer" th:value="#{form.placeholder.answer}">
        <input hidden id="form.label.questionNumber" th:value="#{form.label.questionNumber}">
        <div class="questionBlock">
            <div id="question#0" class="question">
                <h4 class="questionHeader col-4" th:text="#{form.label.questionNumber}+' 1'"></h4>
                <textarea class="questionName" th:name="questions[0].name"
                          th:placeholder="#{form.placeholder.question}" maxlength="255"
                          required></textarea>
                <button class="createAnswer btn btn-success" type="button" th:text="#{form.button.addAnswer}"></button>
                <div id="answer#0" class="answers">
                    <input th:name="questions[0].answers[0].right" type="checkbox">
                    <input th:name="questions[0].answers[0].name" type="text"
                           th:placeholder="#{form.placeholder.answer}" maxlength="255" required><br>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.save}"></button>
    </form>
</div>

<div th:fragment="editTest" class="container-fluid">
    <form action="editTest" method="post">
        <input hidden th:field="${test.id}">
        <label for="testName" th:text="#{form.label.testName}"></label>
        <input id="testName" class="form-control" th:name="'name'" type="text" maxlength="70" required
               th:value="${test.name}">

        <label for="testDescription" th:text="#{form.label.testDescription}"></label>
        <textarea id="testDescription" class="form-control" name="description" type="text"
                  maxlength="255" th:text="${test.description}"></textarea>

        <label for="subjects" th:text="#{form.label.selectTest}"></label>
        <select id="subjects" class="form-control" name="subject">
            <option selected="selected" th:value="${test.subject.id}" th:text="${test.subject.name}"></option>
            <option th:each="subject: ${subjects}"
                    th:value="${subject.id}" th:text="${subject.name}"></option>
        </select>

        <input id="testTime" name="allottedTime" type="number" min="0" max="255" required th:value="${test.allottedTime}">
        <label for="testTime" th:text="#{form.text.allottedTime}"></label>

        <button class="createQuestion btn btn-success" type="button" th:text="#{form.button.createQuestion}"></button>
        <input hidden id="form.button.addAnswer" th:value="#{form.button.addAnswer}">
        <input hidden id="form.placeholder.question" th:value="#{form.placeholder.question}">
        <input hidden id="form.placeholder.answer" th:value="#{form.placeholder.answer}">
        <input hidden id="form.label.questionNumber" th:value="#{form.label.questionNumber}">
        <div class="questionBlock">
            <th:block th:each="question,iStat: ${test.questions}" th:with="questions=*{test.questions}">
                <div th:id="'question#'+${questIndex}" th:with="questIndex=${iStat.size - iStat.index-1}"
                     class="question">
                    <input hidden th:name="questions[__${questIndex}__].id" th:value="${question.id}">
                    <h4 class="questionHeader col-4" th:text="#{form.label.questionNumber}+' '+@{${questIndex+1}}"></h4>
                    <th:block th:if="${questIndex > 0}">
                        <button class="removeQuestion" type="button"> -</button>
                    </th:block>
                    <textarea class="questionName" th:name="questions[__${questIndex}__].name"
                              th:placeholder="#{form.placeholder.question}" maxlength="255"
                              th:text="${test.questions[__${questIndex}__].name}"
                              required></textarea>
                    <button class="createAnswer btn btn-success" type="button"
                            th:text="#{form.button.addAnswer}"></button>

                    <th:block th:each="answer,ansStat: ${questions[questIndex].answers}">
                        <div th:id="'answer#'+${ansStat.index}" class="answers">
                            <input hidden th:name="questions[__${questIndex}__].answers[__${ansStat.index}__].id"
                                   th:value="${answer.id}">
                            <input th:name="questions[__${questIndex}__].answers[__${ansStat.index}__].right"
                                   type="checkbox"
                                   th:checked="${answer.right}">
                            <input th:name="questions[__${questIndex}__].answers[__${ansStat.index}__].name"
                                   type="text"
                                   th:placeholder="#{form.placeholder.answer}" maxlength="255"
                                   th:value="${answer.name}" required>
                            <th:block th:if="${ansStat.index > 0}">
                                <button class="removeAnswer" type="button"> -</button>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.save}"></button>
    </form>
</div>

<div th:fragment="deleteTest" class="container-fluid">
    <form action="deleteTest" method="post">
        <th:block th:replace="fragments/form.html::selectTest"></th:block>
        <button class="btn btn-success" type="submit" th:text="#{form.button.deleteTest}"></button>
    </form>
</div>

<div th:fragment="testResult" class="container-fluid">
    <form action="mainStudent" method="get">

        <div th:each="question :*{questions}">
            <th:block th:if="${question.answeredRight}">
                <div class="rightQuestion">
                    <h4 th:text="${question.name}"></h4>
                    <div class="answer" th:each="answer: ${question.answers}">
                        <label class="answer" th:text="${answer.name}"></label>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${question.answeredRight}">
                <div class="wrongQuestion">
                    <h4 th:text="${question.name}"></h4>
                    <div class="answer" th:each="answer: ${question.answers}">
                        <label class="answer" th:text="${answer.name}"></label>
                    </div>
                </div>
            </th:block>
        </div>
        <button class="btn btn-success" type="submit" th:text="#{form.button.continue}"></button>
    </form>
</div>

