<div th:fragment="authorization">
    <div class="form-group">
        <label for="login" th:text="#{form.label.login}"></label>
        <input id="login" name="login" class="form-control"
               type="text" th:placeholder="#{form.placeholder.login}" maxlength="30" required>
    </div>
    <div class="form-group">
        <label for="password" th:text="#{form.label.password}"></label>
        <input id="password" name="password" class="form-control"
               type="password" th:placeholder="#{form.placeholder.password}" maxlength="50" required>
    </div>
</div>

<div th:fragment="registration">
    <div class="form-group">
        <label for="name" th:text="#{form.label.name}"></label>
        <input id="name" name="name" class="form-control"
               type="text" th:placeholder="#{form.placeholder.name}" maxlength="20" required>
    </div>
    <div class="form-group">
        <label for="surname" th:text="#{form.label.surname}"></label>
        <input id="surname" name="surname" class="form-control"
               type="text" th:placeholder="#{form.placeholder.surname}" maxlength="20" required>
    </div>
    <div class="form-group">
        <label for="group" th:text="#{form.label.group}"></label>
        <select id="group" name="group" class="form-control" th:each="group: ${groups}">
            <option th:value="${group}" th:text="${group.name}"></option>
        </select>
    </div>
</div>

<div th:fragment="selectSubject">
    <form action="getTests" method="get">
        <label for="subject" th:text="#{form.label.selectSubject}"></label>
        <select id="subject" name="name" class="form-control">
            <option th:each="subject: ${subjects}" th:value="${subject.name}" th:text="${subject.name}"></option>
        </select>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.continue}"></button>
    </form>
</div>

<div th:fragment="selectTest">
    <form action="passTest" method="get">
        <label for="test" th:text="#{form.label.selectTest}"></label>
        <select id="test" name="test" class="form-control">
            <option th:each="test: ${tests}" th:value="${test}" th:text="${test.name}"></option>
        </select>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.continue}"></button>
    </form>
</div>

<div th:fragment="passTest">
    <form action="passTest" method="post">

        <!-- for each question in test -->
        <div th:each="question :${test.questions}">
            <h4 th:text="${question.id}"></h4>

            <!-- if question has many right answers show checkbox -->
            <th:block th:if="${question.manyRightAnswers}">
                <div th:each="answer: ${question.answers}">
                    <input th:id="answer#${answer.id}" name="answer" class="form-check-input" type="checkbox">
                    <label th:for="answer#${answer.id}" class="form-check-label" th:text="${answer.name}"></label>
                </div>
            </th:block>

            <!-- if question has only one right answer -->
            <th:block th:if="${!question.manyRightAnswers}">
                <input th:id="answer#${answer.id}" type="radio" name="answer" th:value="${answer}">
                <label th:for="answer${answer.id}" th:value="${answer.name}"></label>
            </th:block>
        </div>
        <button class="btn btn-success" type="submit" th:text="#{form.button.send}"></button>
    </form>
</div>

<div th:fragment="createTest" class="container-fluid">
    <form action="createTest" method="post">
        <label for="testName" th:text="#{form.label.testName}"></label>
        <input id="testName" class="form-control" name="name" type="text" maxlength="70" required>

        <label for="testDescription" th:text="#{form.label.testDescription}"></label>
        <textarea id="testDescription" class="form-control" name="description" type="text"
                  maxlength="255"></textarea>

        <label for="subjects" th:text="#{form.label.selectTest}"></label>
        <select id="subjects" class="form-control" name="subject">
            <option th:each="subject: ${subjects}"
                    th:value="${subject.id}" th:text="${subject.name}"></option>
        </select>

        <button class="createQuestion btn btn-success" type="button" th:text="#{form.button.createQuestion}"></button>
        <input hidden id="form.button.addAnswer" th:value="#{form.button.addAnswer}">
        <input hidden id="form.placeholder.question" th:value="#{form.placeholder.question}">
        <input hidden id="form.placeholder.answer" th:value="#{form.placeholder.answer}">
        <input hidden id="form.label.questionNumber" th:value="#{form.label.questionNumber}">
        <div class="questionBlock">
            <div id="question#0" class="question">
                <h4 class="questionHeader col-4" th:text="#{form.label.questionNumber}+' 1'"></h4>
                <textarea class="questionName" th:name="questions[0].name"
                          th:placeholder="#{form.placeholder.question}" maxlength="255"
                          required></textarea>
                <button class="createAnswer btn btn-success" type="button" th:text="#{form.button.addAnswer}"></button>
                <div id="answer#0" class="answers">
                    <input th:name="questions[0].answers[0].right" type="checkbox">
                    <input th:name="questions[0].answers[0].name" type="text"
                           th:placeholder="#{form.placeholder.answer}" maxlength="255" required><br>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.save}"></button>
    </form>
</div>