<!-- header-->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" th:fragment="header">
    <div class="container-fluid">
        <a href="/home" class="navbar-brad"><img th:src="@{/img/ggkttd-logo.png}"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link" th:text="#{header.label.main}"></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">О нас</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Контакты</a>
                </li>
                <li class="nav-item">
                <a href="?lang=ru" class="nav-link">RU</a>
                </li>
                <li class="nav-item">
                    <a href="?lang=en" class="nav-link">EN</a>
                </li>
                <li class="nav-item">
                    <a href="/exit" class="nav-link">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Footer-->
<footer class="page-footer font-small blue" th:fragment="footer">
    <!--Copyright-->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:Nikita Kolmakov</div>
</footer>
