@import url("bootstrap.css");

.navbar-brad img {
    width:130px;
    height:80px;
}

navbar-nav li{
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1 em !important
}

.question{

}

.rightQuestion{
    .question;
    background-color:green;
}

.wrongQuestion{
    .question;
    background-color:red;
}

textarea{
    resize:none;
}