<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
    <h1 th:text="${status}"></h1>
    <p th:text="${message}"></p>
    <h1>some error text</h1>
</body>

<div>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.7/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</div>
</html>