<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{page.title.home}"></title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>

    <!-- header-->
    <div th:insert="fragments/general.html::header"></div>
    <h1>MAIN TUTOR FORM</h1>
    <!--footer-->
    <a href="createTest" th:text="#{form.href.createTest}"></a><br>
    <a href="getTestList" th:text="#{form.href.editTest}"></a><br>
    <a href="deleteTest" th:text="#{form.href.deleteTest}"></a><br>
    <a href="getTestGrid" th:text="#{form.href.showTests}"></a><br>

    <th:block th:if="${createTest}">
        <div th:replace="fragments/form.html::createTest"></div>
    </th:block>
    <th:block th:if="${selectTest}">
        <form action="editTest" method="get">
            <div th:replace="fragments/form.html::selectTest"></div>
            <button class="btn btn-primary" type="submit" th:text="#{form.button.continue}"></button>
        </form>
    </th:block>
    <th:block th:if="${editTest}">
        <div th:replace="fragments/form.html::editTest"></div>
    </th:block>
    <th:block th:if="${deleteTest}">
        <div th:replace="fragments/form.html::deleteTest"></div>
    </th:block>
    <th:block th:if="${testGrid}">
        <div th:replace="fragments/form.html::testGrid"></div>
    </th:block>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.7/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>