<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{page.title.home}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

    <!-- header-->
    <div th:insert="fragments/general.html::header"></div>
    <h1>MAIN STUDENT FORM</h1>

    <!-- MOCK-->
    <div>
        <a href="getSubjects" th:text="#{form.href.passTest}"></a><br>
        <a href="statistic" th:text="#{form.href.getStatistic}"></a>
    </div>

    <th:block th:if="${showSubjects}">
        <div th:replace="fragments/form.html::selectSubject"></div>
    </th:block>
    <th:block th:if="${showTests}">
        <form action="confirmTest" method="get" class="container-fluid">
            <div th:replace="fragments/form.html::selectTest"></div>
            <button class="btn btn-primary" type="submit" th:text="#{form.button.continue}"></button>
        </form>
    </th:block>
    <th:block th:if="${getTestInfo}">
        <form action="passTest" method="get" th:object="${test}">
            <div th:replace="fragments/form.html::testInfo"></div>
            <button class="btn btn-success" type="submit" th:text="#{form.button.continue}"></button>
        </form>
    </th:block>
    <th:block th:if="${passTest}">
        <div th:replace="fragments/form.html::passTest"></div>
    </th:block>
    <th:block th:if="${showTestResult}">
        <div th:replace="fragments/form.html::testResult"></div>
    </th:block>
    <th:block th:if="${showStatistic}">
        <div th:replace="fragments/form.html::studentStatistic"></div>
    </th:block>
    <!--footer-->
    <!--    <div th:insert="fragments/general.html::footer"></div>-->
    <!--  Scripts  -->
    <div>
        <script th:src="@{/js/jquery-3.2.1.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/script.js}"></script>
    </div>

</body>
</html>