<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- header-->
    <div th:insert="fragments/general.html::header"></div>

    <form class="col-lg-6 col-md-6" action="registration" method="post">
        <!--messages-->
        <div>
            <th:block th:if="${success}">
                <div th:replace="fragments/notifications.html::notifSuccess"></div>
            </th:block>
            <th:block th:if="${error}">
                <div th:replace="fragments/notifications.html::notifError"></div>
            </th:block>
        </div>

        <div th:insert="fragments/form.html::registration"></div>
        <div  th:insert="fragments/form.html::authorization"></div>
        <a th:href="@{/authorization}" th:text="#{form.link.signIn}"></a>
        <button class="btn btn-primary" type="submit" th:text="#{form.button.signUp}"></button>
    </form>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.7/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>